body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:"Mulish ExtraLight", sans-serif;
	font-size:892px;
	font-style:normal;
	font-weight:200;
}
span.CharOverride-2 {
	color:#25274d;
	font-family:"Mulish ExtraLight", sans-serif;
	font-size:744.1px;
	font-style:normal;
	font-weight:200;
}
span.CharOverride-3 {
	color:#25274d;
	font-family:"Mulish ExtraLight", sans-serif;
	font-size:542.5px;
	font-style:normal;
	font-weight:200;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"Golos Text", sans-serif;
	font-size:1101.3px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3300.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2550.00px;
}
#_idContainer001 {
	-ms-transform:translate(0.000px,1264.464px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,1264.464px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:967.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,1264.464px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,1264.464px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:767.00px;
}
#_idContainer002 {
	-ms-transform:translate(0.000px,1589.148px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,1589.148px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1438.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,1589.148px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,1589.148px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2550.00px;
}
#_idContainer003 {
	-ms-transform:translate(901.127px,2060.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(901.127px,2060.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:459.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(901.127px,2060.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(901.127px,2060.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:744.00px;
}
#_idContainer004 {
	-ms-transform:translate(901.127px,2489.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(901.127px,2489.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:459.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(901.127px,2489.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(901.127px,2489.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:744.00px;
}
#_idContainer005 {
	-ms-transform:translate(901.127px,1631.513px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(901.127px,1631.513px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:459.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(901.127px,1631.513px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(901.127px,1631.513px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:744.00px;
}
#_idContainer006 {
	-ms-transform:translate(132.559px,2060.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(132.559px,2060.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:459.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(132.559px,2060.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(132.559px,2060.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:744.00px;
}
#_idContainer007 {
	-ms-transform:translate(132.559px,2489.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(132.559px,2489.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:459.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(132.559px,2489.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(132.559px,2489.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:744.00px;
}
#_idContainer008 {
	-ms-transform:translate(132.559px,1631.513px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(132.559px,1631.513px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:459.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(132.559px,1631.513px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(132.559px,1631.513px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:744.00px;
}
#_idContainer009 {
	-ms-transform:translate(0.000px,2928.830px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,2928.830px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:221.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2928.830px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,2928.830px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1423.42px;
}
#_idContainer010 {
	-ms-transform:translate(1671.525px,2060.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1671.525px,2060.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:459.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1671.525px,2060.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1671.525px,2060.812px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:744.00px;
}
#_idContainer011 {
	-ms-transform:translate(1671.525px,2489.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1671.525px,2489.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:459.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1671.525px,2489.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1671.525px,2489.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:744.00px;
}
#_idContainer012 {
	-ms-transform:translate(1671.525px,1631.513px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1671.525px,1631.513px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:459.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1671.525px,1631.513px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1671.525px,1631.513px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:744.00px;
}
#_idContainer013 {
	-ms-transform:translate(154.781px,2960.588px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(154.781px,2960.588px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:152.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(154.781px,2960.588px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(154.781px,2960.588px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:421.00px;
}
#_idContainer014 {
	-ms-transform:translate(149.999px,149.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(149.999px,149.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:215.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(149.999px,149.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(149.999px,149.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:580.95px;
}
#_idContainer015 {
	-ms-transform:translate(672.833px,2974.691px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(672.833px,2974.691px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:125.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(672.833px,2974.691px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(672.833px,2974.691px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:511.08px;
}
#_idContainer016 {
	-ms-transform:translate(1927.559px,3102.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1927.559px,3102.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:60.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1927.559px,3102.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1927.559px,3102.794px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:472.44px;
}
#_idContainer017 {
	-ms-transform:translate(183.070px,1958.447px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(183.070px,1958.447px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:50.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(183.070px,1958.447px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(183.070px,1958.447px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:248.03px;
}
#_idContainer018 {
	-ms-transform:translate(183.070px,1745.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(183.070px,1745.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(183.070px,1745.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(183.070px,1745.009px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:625.70px;
}
#_idContainer019 {
	-ms-transform:translate(950.676px,1941.772px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(950.676px,1941.772px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:50.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(950.676px,1941.772px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(950.676px,1941.772px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:248.03px;
}
#_idContainer020 {
	-ms-transform:translate(950.676px,1751.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(950.676px,1751.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(950.676px,1751.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(950.676px,1751.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:625.70px;
}
#_idContainer021 {
	-ms-transform:translate(1723.064px,1941.772px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1723.064px,1941.772px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:50.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1723.064px,1941.772px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1723.064px,1941.772px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:248.03px;
}
#_idContainer022 {
	-ms-transform:translate(1723.064px,1751.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1723.064px,1751.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1723.064px,1751.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1723.064px,1751.927px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:625.70px;
}
#_idContainer023 {
	-ms-transform:translate(183.070px,2387.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(183.070px,2387.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(183.070px,2387.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(183.070px,2387.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:250.98px;
}
#_idContainer024 {
	-ms-transform:translate(183.070px,2181.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(183.070px,2181.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(183.070px,2181.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(183.070px,2181.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:625.70px;
}
#_idContainer025 {
	-ms-transform:translate(950.676px,2370.892px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(950.676px,2370.892px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(950.676px,2370.892px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(950.676px,2370.892px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:250.98px;
}
#_idContainer026 {
	-ms-transform:translate(950.676px,2181.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(950.676px,2181.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(950.676px,2181.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(950.676px,2181.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:625.70px;
}
#_idContainer027 {
	-ms-transform:translate(1723.064px,2370.892px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1723.064px,2370.892px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1723.064px,2370.892px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1723.064px,2370.892px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:250.98px;
}
#_idContainer028 {
	-ms-transform:translate(1723.064px,2181.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1723.064px,2181.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1723.064px,2181.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1723.064px,2181.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:625.70px;
}
#_idContainer029 {
	-ms-transform:translate(950.676px,2800.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(950.676px,2800.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(950.676px,2800.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(950.676px,2800.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:250.98px;
}
#_idContainer030 {
	-ms-transform:translate(950.676px,2610.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(950.676px,2610.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(950.676px,2610.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(950.676px,2610.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:625.70px;
}
#_idContainer031 {
	-ms-transform:translate(1723.064px,2800.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1723.064px,2800.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1723.064px,2800.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1723.064px,2800.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:250.98px;
}
#_idContainer032 {
	-ms-transform:translate(1723.064px,2610.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1723.064px,2610.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1723.064px,2610.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1723.064px,2610.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:625.70px;
}
#_idContainer033 {
	-ms-transform:translate(183.070px,2800.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(183.070px,2800.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:50.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(183.070px,2800.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(183.070px,2800.011px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.25px;
}
#_idContainer034 {
	-ms-transform:translate(183.070px,2610.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(183.070px,2610.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(183.070px,2610.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(183.070px,2610.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:625.70px;
}
#_idContainer035 {
	-ms-transform:translate(149.999px,419.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(149.999px,419.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:291.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(149.999px,419.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(149.999px,419.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:479.33px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
